{% extends "layout.html" %}


    {% block title %}Sign In{% endblock %}

    {% block navLinks %}
        <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
        <a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
        <a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
        {% if current_user.is_authenticated %}
        <a class="nav-item nav-link text-light active" href="{{url_for('dashboard')}}">Dashboard</a>
        <a class="nav-item nav-link text-light" href="{{url_for('logout')}}">Log Out</a>
        {% else %}
        <a class="nav-item nav-link text-light active" href="{{url_for('signin.login')}}">Sign In</a>
        {% endif %}
    {% endblock %}

    {% block body %}
        <div class="pt-5 container">
            {% if message %}
            <div class="alert alert-warning alert-dismissible fade show text-center" role="alert">
                <strong>{{message}}</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}

            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                    {{form.email.label}}
                    {{form.email(class="form-control")}}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                        <strong>{{error}}</strong>
                    {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group">
                    
                    {{form.password.label}}
                    {{form.password(class="form-control", placeholder="password", type="password")}}
                    {% if form.password.errors%}
                        {% for error in form.password.errors %}
                          {{error}}
                        {% endfor %}
                    {% endif %}
                </div>
                {{form.submit(class="btn btn-primary")}}

            </form>
        </div>
    {% endblock %}