{% extends "layout.html" %}


    {% block title %} History {% endblock %}

        {% block navLinks %}
            <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
            <a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
            <a class="nav-item nav-link text-light active" href="{{url_for('history')}}">History</a>
        {% endblock %}


        {% block body %}
              <div class="container-fluid pt-5 text-center"><h1>PAGE UNDER DEVELOPMENT</h1></div>
        {% endblock %}
