{% extends "layout.html" %}


    {% block title %}Sign In{% endblock %}

    {% block navLinks %}
        <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
        <a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
        <a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
        <a class="nav-item nav-link text-light active" href="{{url_for('sign_in_page')}}">Sign In</a>
    {% endblock %}

    {% block body %}
        <div class="pt-5 container">
            {% if message %}
            <h3 class="text-danger text-center">{{message}}</h3>
            {% endif %}

            <form method="POST">
                {{form.hidden_tag()}}
                <div class="form-group">
                {{form.badge_number.label}}{{form.badge_number(class="form-control")}}
                </div>
                <div class="form-group">
                {{form.password.label}}{{form.password(class="form-control", placeholder="password")}}
                </div>
                {{form.submit(class="btn btn-primary")}}

            </form>
            </div>
    {% endblock %}