{% extends "layout.html" %}


    {% block title %}Sign In{% endblock %}

    {% block navLinks %}
        <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
        <a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
        <a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
        <a class="nav-item nav-link text-light active" href="{{url_for('sign_in_page')}}">Sign In</a>
    {% endblock %}

    {% block body %}
        
    {% endblock %}