{% extends "layout.html" %}


    {% block title %}Sign In{% endblock %}

    {% block navLinks %}
        <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
        <a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
        <a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
        <a class="nav-item nav-link text-light active" href="{{url_for('sign_in_page')}}">Sign In</a>
    {% endblock %}

    {% block body %}
        <div class="pt-5 container">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="BadgeInput">Badge Number</label>
                    <input type="text" class="form-control" id="BadgeInput" name="BadgeInput" aria-describedby="BadgeHelp"/>
                    <small id="BadgeHelp" class="form-text text-muted">Enter your badge number.</small>
                </div>
                <div class="form-group">
                    <label for="PasswordInput">Password</label>
                    <input type="password" name="PasswordInput" class="form-control" id="PasswordInput" />
                </div>
                   <button type="submit" class="btn btn-primary">Log In</button>
            </form>
            </div>
    {% endblock %}