{% extends "layout.html" %}

 {% block title %}Salem Fire Home {% endblock %}

        {% block navLinks %}
<a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
<a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
<a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
{% if current_user.is_authenticated %}
<a class="nav-item nav-link text-light" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="nav-item nav-link text-light" href="{{url_for('logout')}}">Log Out</a>
        {% else %}
<a class="nav-item nav-link text-light" href="{{url_for('signin.login')}}">Sign In</a>
        {% endif %}
         {% endblock %}

    {% block body %}

<div class="alert alert-warning" role="alert">
    <h1>Sorry, something went wrong on our end, try again later!</h1>
</div>
    {% endblock %}