{% extends "layout.html" %}


    {% block title %}Salem Fire Home {% endblock %}
    
        {% block navLinks %}
                <a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
                <a class="nav-item nav-link text-light active" href="{{url_for('product')}}">Products</a>
                <a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
                <a class="nav-item nav-link text-light" href="{{url_for('signin.login')}}">Sign In</a>
         {% endblock %}

    {% block body %}
        <div class="container-fluid pt-5" id='collection-component-1594659627733'></div>
        <script type="text/javascript" src="{{url_for('static', filename='js/Shopify.js')}}"></script>
    {% endblock %}