<div class="dropdown show pt-3">
    <div class="dropdown-menu show pl-3">
        {%if current_user.is_authenticated %}
        {% if message %}
        <h6 class="dropdown-header">{{message}}, {{current_user.fname}} {{current_user.lname}}</h6>
        {% else %}
        <h6 class="dropdown-header">Hello, {{current_user.fname}} {{current_user.lname}}</h6>
        {% endif %}
        {% endif %}

        {%if request.path == url_for('rec_status')%}
        <a class="dropdown-item active" href="{{url_for('rec_status')}}">Recent Updates</a>
        {% else %}
        <a class="dropdown-item" href="{{url_for('rec_status')}}">Recent Updates</a>
        {% endif %}

        {%if request.path == url_for('month_mins')%}
        <a class="dropdown-item active" href="{{url_for('month_mins')}}">Monthly Minutes</a>
        {% else %}
        <a class="dropdown-item" href="{{url_for('month_mins')}}">Monthly Minutes</a>
        {% endif %}

        {%if request.path == url_for('act_roster')%}
        <a class="dropdown-item active" href="{{url_for('act_roster')}}">Active Roster</a>
        {% else %}
        <a class="dropdown-item" href="{{url_for('act_roster')}}">Active Roster</a>
        {% endif %}

        {%if request.path == url_for('member_apparel')%}
        <a class="dropdown-item active" href="{{url_for('member_apparel')}}">Membership Apparel</a>
        {% else %}
        <a class="dropdown-item" href="{{url_for('member_apparel')}}">Membership Apparel</a>
        {% endif %}

        {%if request.path == url_for('union_forms')%}
        <a class="dropdown-item active" href="{{url_for('union_forms')}}">Forms</a>
        {% else %}
        <a class="dropdown-item" href="{{url_for('union_forms')}}">Forms</a>
        {% endif %}  
    </div>
</div>