{% extends "layout.html" %}

    {% block title %}dashboard{% endblock %}

    {% block navLinks %}
<a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
<a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
<a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
         {% if current_user.is_authenticated %}
<a class="nav-item nav-link text-light active" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="nav-item nav-link text-light" href="{{url_for('logout')}}">Log Out</a>
        {% else %}
<a class="nav-item nav-link text-light active" href="{{url_for('signin.login')}}">Sign In</a>
        {% endif %}
    {% endblock %}

    {% block body %}
    
<div class="container-fluid">
    <div class="row pt-3 pb-3">
        <div class="col-md">
            {%include "dashNav.html"%}
        </div>
    </div>
            {% if request.path == url_for('rec_status')%}
                {% include "recentUp.html" %}
            {% endif %}
</div>


    {% endblock %}
