{% extends "layout.html" %}

{% block title %}Salem Fire Home {% endblock %}

        {% block navLinks %}
<a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
<a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
<a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
                 {% if current_user.is_authenticated %}
<a class="nav-item nav-link text-light active" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="nav-item nav-link text-light" href="{{url_for('logout')}}">Log Out</a>
                {% else %}
<a class="nav-item nav-link text-light" href="{{url_for('signin.login')}}">Sign In</a>
                {% endif %}
         {% endblock %}
{% block body%}
<div class="container">
<form method="POST">
    <div class="form-row pb-4">
        {{form.hidden_tag()}}
        <div class="col-sm pt-4">
            {{form.dateOfIncident.label}}{{form.dateOfIncident(class="form-control")}}
            {% if form.dateOfIncident.errors %}
            {% for error in form.dateOfIncident.errors %}
            <strong>{{error}}</strong>
            {% endfor %}
            {% endif %}
            <br>
            {{form.title.label}}{{form.title(class="form-control")}}
            {% if form.title.errors %}
            {% for error in form.title.errors %}
            <strong>{{error}}</strong>
            {% endfor %}
            {% endif %}
            <br>
            {{form.user.label}}{{form.user(class="form-control")}}
        </div>
    </div>
    <div class="form-row pb-4">
        <div class="col-sm">
            {{form.whatHappened.label}}{{form.whatHappened}}
            {% if form.whatHappened.errors %}
            {% for error in form.whatHappened.errors %}
            <strong>{{error}}</strong>
            {% endfor %}
            {% endif %}

            {{form.locationOfIncident.label}}{{form.locationOfIncident}}
            {% if form.locationOfIncident.errors %}
            {% for error in form.locationOfIncident.errors %}
            <strong>{{error}}</strong>
            {% endfor %}
            {% endif %}

            {{form.whenItHappened.label}}{{form.whenItHappened}}
            {% if form.whenItHappened.errors %}
            {% for error in form.whenItHappened.errors %}
            <strong>{{error}}</strong>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-row pb-4">
        <div class="col-sm">
            {{form.article.label}}{{form.article}}

            {{form.section.label}}{{form.section}}

            {{form.unfairTreatment.label}}{{form.unfairTreatment}}

            {{form.article.label}}{{form.article}}

            {{form.section.label}}{{form.section}}

            {{form.pastPractice.label}}{{form.pastPractice}}

            {{form.other.label}}{{form.other}}
        </div>
    </div>
    {{form.submit(class="btn btn-primary")}}
</form>
    </div>
{% endblock %}