<form method="POST">
    <div class="form-row pb-4">
        {{form.hidden_tag()}}
        <div class="col-sm">
            {{form.dateOfIncident.label}}{{form.dateOfIncident}}
            {% if form.dateOfIncident.errors %}
                {% for error in form.dateOfIncident.errors %}
                <strong>{{error}}</strong>
                {% endfor %}
            {% endif %}

            {{form.title.label}}{{form.title}}
            {% if form.title.errors %}
                {% for error in form.title.errors %}
                <strong>{{error}}</strong>
                {% endfor %}
            {% endif %}

            {{form.user.label}}{{form.user}}
        </div>
    </div>
    <div class="form-row pb-4">
        <div class="col-sm">
            {{form.whatHappened.label}}{{form.whatHappened}}
            {% if form.whatHappened.errors %}
                {% for error in form.whatHappened.errors %}
                <strong>{{error}}</strong>
                {% endfor %}
            {% endif %}

            {{form.locationOfIncident.label}}{{form.locationOfIncident}}
            {% if form.locationOfIncident.errors %}
                {% for error in form.locationOfIncident.errors %}
                <strong>{{error}}</strong>
                {% endfor %}
            {% endif %}

            {{form.whenItHappened.label}}{{form.whenItHappened}}
            {% if form.whenItHappened.errors %}
                {% for error in form.whenItHappened.errors %}
                <strong>{{error}}</strong>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="form-row pb-4">
        <div class="col-sm">
                {{form.article.label}}{{form.article}}

                {{form.section.label}}{{form.section}}

                {{form.unfairTreatment.label}}{{form.unfairTreatment}}
          
                {{form.article.label}}{{form.article}}

                {{form.section.label}}{{form.section}}

                {{form.pastPractice.label}}{{form.pastPractice}}
            
                {{form.other.label}}{{form.other}}         
        </div>
     </div>
        {{form.submit(class="btn btn-primary")}}
</form>