{% extends "layout.html" %}

{% block title %}Salem Fire Home {% endblock %}

        {% block navLinks %}
<a class="nav-item nav-link text-light" href="{{url_for('index')}}">Home</a>
<a class="nav-item nav-link text-light" href="{{url_for('product')}}">Products</a>
<a class="nav-item nav-link text-light" href="{{url_for('history')}}">History</a>
                 {% if current_user.is_authenticated %}
<a class="nav-item nav-link text-light active" href="{{url_for('dashboard')}}">Dashboard</a>
<a class="nav-item nav-link text-light" href="{{url_for('logout')}}">Log Out</a>
                {% else %}
<a class="nav-item nav-link text-light" href="{{url_for('signin.login')}}">Sign In</a>
                {% endif %}
         {% endblock %}
{% block body%}
<table class="table table-borderless">
    <thead>
        <tr><td><h6>List of Grievances</h6></td><td><h6>Reporting Party</h6></td> <td><h6>Reason for Grieve</h6></td></tr>
    </thead>
    <tbody>
    {% for grieve in grieveList %}
        <tr>
            <td><a href="{{url_for('grievance.SelectedGrievance', grieveid='grieve.id')}}">{{grieve.id}}</a></td><!--TODO: This needs to be changed to a url -->
            <td>{{grieve.name}}</td>
            <td>{{grieve.reason}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}