{% for pos_id in range(4) %}
    {% if current_user.position_id == pos_id %}
<div class="container">
        {% include "status.html" %}
</div>
    {% endif %}
{% endfor %}
<div class="row justify-content-center">
    <div class="col">
    <table class="table table-borderless">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col" class="text-center">Post</th>
            </tr>
        </thead>
        <tbody>
            {% for key,post in last_ten_items.items() %}
            <tr>
                <th scope="row" class="text-right">{{key}}</th>
                <td class="text-center">{{post}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
</div>