<div class="container">
<div class="row">
    <div class="col-sm text-center mb-3 badge badge-dark">
        <h2 class="text-center">Union Forms</h2>
    </div>
</div>
</div>
<div class="row">
<div class="col-sm text-center">
<a class="btn btn-primary" href="{{url_for('grievance.Grievences')}}">
    Grievance Form
</a>

{% for id in range(3) %}
{% if current_user.position_id == id %}
<a class="btn btn-primary" href="{{url_for('grievance.GrievanceList')}}">
    List of Grievances
</a>
{% endif %}    
{% endfor %}
</div>
</div>