@charset "utf-8";

#first-div {
    float: left;
    max-width: 100%;
    max-height: 100%;
    padding-bottom: 8%;
    text-align:center;
    background-color: #D3D8DC;
    display: inline-block;
    clear: none;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    background-position: center 0%;
    position: relative;
    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
    top: 32%;
    margin-left: 0%;
    width: 100%;
    height: 100%;
    font-size: 2vw;
  
}
#first-div h2 {
    text-align: center;
}
#first-div p {
    text-align: center;
}

#second-div h2 {
    text-align: center;
}

#second-div {
	width: 100%;
    height: 100%;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    background-color: #DAE2E9;
    clear: both;
    overflow-x: no-content;
    padding-bottom: 10%;
    display: inline-block;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    position: relative;
    -webkit-box-shadow: 0 0;
    box-shadow: 0 0;
    text-shadow: 0px 0px #ACAAAA;
    float: left;
    opacity: 1;
    padding-top: 0%;
    -webkit-box-sizing: inherit;
    font-size: 78%;
    margin-left: 0%;
    width: 100%;
    font-size: 2vw;
}
input {
    
    width: 50%;
    padding: .8%;
}

textarea{
    width: 50%;
}



#main-div {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    height: 100%;
}
h2 {
    font-family: Constantia, Lucida Bright, DejaVu Serif, Georgia, serif;
}
#support-div {
    background-color: #6E6C6C;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    margin-top: 10%;
    color: #CBC5C0;
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 3vw;
}
#body-back {
    background-color: #A39898;
}
header {
    text-align: center;
    font-family: brush-script-std;
    font-style: normal;
    font-weight: 400;
    font-size: 5vw;
}
